<% include template/header.ejs %>
<!-- lead -->
<% dataJson.product.forEach(function (detailProduct) {
if(detailProduct.id == IdProduct){
%>
    <div class="ish-row ish-fullrow ish-lead">
                <span class="ish-lead__caption ish-icon-up">
                    <%= detailProduct.title %></span>
        <div class="ish-lead__image">
            <img src="<%= detailProduct.bigImage %>" alt="wawererly design">
        </div>
        <h1 class="ish-lead__headline">
            <span class="ish-lead__headline-inner"><%= detailProduct.title %><br>Design</span>
        </h1>
    </div>


<!-- lead end -->


<!-- content -->
<div class="ish-row ish-content">

    <div class="ish-col-xs-12 ish-col-sm-4 ish-last-xs ish-first-sm ish-content__sidebar">

        <!-- side content -->
        <p>
            <%= detailProduct.description  %>
        </p>

            <ul class="ish-sidebar-mdata post-meta">
                <li class="ish-sidebar-mdata__item">
                    <strong class="ish-sidebar-mdata__title post-meta-key">Client</strong>
                    <%= detailProduct.client %>
                </li>
                <li class="ish-sidebar-mdata__item">
                    <strong class="ish-sidebar-mdata__title post-meta-key">Work Done</strong>
                    <%= detailProduct.workDone %>
                </li>
                <li class="ish-sidebar-mdata__item">
                    <strong class="ish-sidebar-mdata__title post-meta-key">Category</strong>
                    <a href="#">
                        <%= detailProduct.cat %></a>
                </li>
                <li class="ish-sidebar-mdata__item">
                    <strong class="ish-sidebar-mdata__title post-meta-key">Link</strong>
                    <a href="https://ishyoboy.com" target="_blank">
                        <%= detailProduct.linkWeb %></a>
                </li>
            </ul>


        <hr>

        <div class="ish-sidebar-share">
            <strong class="ish-sidebar-share__desc">Share</strong>
            <ul class="ish-sidebar-share__list">
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                       class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                       class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                       class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"></a>
                </li>
                <li class="ish-sidebar-share__list-item">
                    <a href="#"
                       class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"></a>
                </li>
            </ul>
        </div>

        <hr>

        <ul class="ish-prev-next">
            <li class="ish-prev-next__item ish-prev-next--left">
                <a class="ish-prev-next__link" href="portfolio-detail2.html">Previous</a>
                <span class="ish-prev-next__icon ish-icon-left"></span>
            </li>
            <li class="ish-prev-next__item ish-prev-next--right">
                <a class="ish-prev-next__link" href="portfolio-detail2.html">Next</a>
                <span class="ish-prev-next__icon ish-icon-right"></span>
            </li>
        </ul>
        <!-- side content end -->

    </div>

<div class="ish-col-xs-12 ish-col-sm-7 ish-col-sm-offset-1 ish-content__main">
    <!-- main content -->
    <% detailProduct.productImage.forEach(function (elementImage) {
    %>
        <a class="ish-image ish-lightbox" href="<%= elementImage%>">
            <img class="ish-image__image" src="<%= elementImage%>" alt="">
            <% detailProduct.nameDesign.forEach(function (elementDesign) {
            %>
            <span class="ish-image__caption"><%= elementDesign%></span>
            <%
            })%>
        </a>
    <%
    })%>
    <!-- main content end -->
</div>


</div>
<!-- content end -->
<%
}
}) %>

<hr>
<h4>Sản phẩm đã xem</h4>
<% if(danhsach){ %>
<div class="ish-row ish-content ish-portfolio ish-macy">
    <% danhsach.forEach(function (id) {
    dataJson.product.forEach(function (motsanpham) {
    if(motsanpham.id == id){
        if(motsanpham.id != IdProduct){
    %>
        <a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= motsanpham.cat %>" href="chi-tiet-san-pham/<%= motsanpham.linkSEO%>.<%= motsanpham.id%>">
            <div class="ish-portfolio-item__image-container">
                <img class="ish-portfolio-item__image" src="<%= motsanpham.bigImage %>" alt="business cards">
            </div>
            <div class="ish-portfolio-item__desc">
                <span class="ish-portfolio-item__title"><%= motsanpham.title %></span>
                <span class="ish-portfolio-item__subtitle"><%= motsanpham.cat %></span>
            </div>
        </a>
    <%
    }}
    })
    }) } %>

</div>
<% include template/footer.ejs %>

</body>
</html>
