<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<style>
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}

			li {
				float: left;
			}

			.nav li a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			li a:hover:not(.active) {
				background-color: #111;
			}

			.active {
				background-color: #4caf50;
			}
		</style>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<ul class="nav">
				<%  for(var i = 0; i < newstype.length; i++) {
					if(newstype[i].position == 1){ %>
					<li><a class="active" href="/"><%= newstype[i].name%> </a></li>
					<%} else if(newstype[i].position == 2) { %>
					<li>
						<a href="<%= newstype[i]._id%>"><%= newstype[i].name%> </a>
					</li>
					<%} else { %>
					<li>
						<a href="<%= newstype[i].name%>/<%= newstype[i]._id%>"><%= newstype[i].name%> </a>
					</li>
					<% }} %>
			</ul>
		</div>

		<div class="container mt-5">
			<div class="row">
				<% news.forEach(function(mot){ if(mot !== null){ %>
				<div class="col-3 mr-3">
					<div class="card border-primary" style="width: 18rem;">
						<img
							class="card-img-top"
							src="/<%= mot.pathImages[0] %>"
							alt="Card image cap"
						/>
						<div class="card-body">
							<h5 class="card-title"><%= mot.title%></h5>
							<p class="card-text">
								<%= mot.summary%>
							</p>
							<p class="card-text">
								<small class="text-muted"><%= mot.createdAt%></small>
							</p>
						</div>
					</div>
				</div>
				<%}})%>
			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
